main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: 2s;

    #showme {
        width: 200px;
        height: 50px;
        outline: none;
        border-radius: 8px;
        position: relative;
        left: 20px;
        font-size: 15px;

        &:hover {
            font-size: 19px;
            transition: 2s;
            box-shadow: 0 12px 12px 2px rgba(0, 0, 0, 0.78);
        }
    }

    #backtome {
        display: none;
        width: 200px;
        height: 50px;
        outline: none;
        border-radius: 8px;
        position: relative;
        left: 20px;
        font-size: 15px;

        &:hover {
            font-size: 19px;
            transition: 2s;
            box-shadow: 0 12px 12px 2px rgba(0, 0, 0, 0.78);
        }
    }


    .main_banner {
        width: 100%;
        height: 100%;
        padding-top: 50px;

        .banner {
            height: 1200px;
            background-image: url('https://static.wixstatic.com/media/46dc18_0998a8ce1f34483cbe31aec42ff6108f~mv2.jpg/v1/fill/w_881,h_853,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/46dc18_0998a8ce1f34483cbe31aec42ff6108f~mv2.jpg');
            background-repeat: no-repeat;
            background-size: 90%;
            object-fit: cover;
            background-attachment: fixed;
            background-position: right;
        }
    }

    .made_with_love {
        width: 100%;
        height: 100%;
        padding-top: 40px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: wheat;
        padding: 15px;


        .left {
            width: 100%;
            height: 100%;

            .content {
                width: 100%;
                height: 100%;
                margin: auto;
                padding-top: 400px;


                .head_title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 500px;
                    margin: auto;
                }

                .secont_text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                    max-width: 700px;
                    padding-top: 100px;
                    line-height: 40px;
                    color: black;
                }

                .btn {
                    width: 200px;
                    height: 50px;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 50px;
                    position: relative;

                    a {
                        width: 100%;
                        text-decoration: none;
                        font-size: 20px;
                        color: white;
                    }

                }
            }

        }

        .right {
            width: 100%;
            height: 100%;

            .aside-banner {
                width: 100%;
                height: 100vh;
                background-image: url("https://static.wixstatic.com/media/46dc18_3487b934a84548e090e13f5ce1bf08ad~mv2.jpg/v1/fill/w_855,h_1200,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/46dc18_3487b934a84548e090e13f5ce1bf08ad~mv2.jpg");
                background-repeat: no-repeat;
            }

        }

    }

    .ingredients_table {
        width: 100%;
        height: 100%;

        .ingredients_banner {
            background-size: 100%;
            height: 100vh;
            background-repeat: no-repeat;
            object-fit: cover;
            object-position: center;
            background-attachment: fixed;
            background-image: url("https://static.wixstatic.com/media/46dc18_129ba04ade8a4cf3962ccb05b35e57c7~mv2.jpg/v1/fill/w_981,h_880,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/46dc18_129ba04ade8a4cf3962ccb05b35e57c7~mv2.jpg");

            .ingredients {
                width: 75%;
                background-color: rgb(242, 242, 242);
                margin: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                top: 35%;
                border-radius: 8px;

                .context {
                    width: 100%;
                    height: 100%;

                    h2 {
                        width: 100%;
                        max-width: 500px;
                        margin: auto;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        padding-top: 80px;
                    }

                    h6 {
                        font-size: 20px;
                        width: 100%;
                        max-width: 700px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: auto;
                        padding-top: 50px;
                        line-height: 30px;
                        letter-spacing: 0.1rem;
                        font-family: cursive;
                        text-align: start;
                    }

                    .btn {
                        width: 200px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: auto;
                        margin-top: 50px;
                        margin-bottom: 10px;


                        a {
                            text-decoration: none;
                            font-size: 20px;
                            color: white;
                        }
                    }
                }

            }
        }
    }

    h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 70px;
    }

    h6 {

        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
        padding-top: 10px;
        color: rgb(48, 9, 9);
    }

    h5 {
        color: red;
        padding-left: 10px;
    }

    .category {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 3fr);
        margin: auto;
        padding-top: 150px;







        .category_prdoucts {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            padding: 30px;

            .target {
                background: blue;
                width: 100px;
                height: 50px !important;
                margin-top: 20px;

                margin: auto;
                border: none;
                border-bottom: 2px solid blue;
                border-radius: 8px;
                position: relative;
                top: -20px;

                .targetplius {
                    text-decoration: none;
                    font-size: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    height: 100%;
                    height: 50px;


                }
            }




            .card {
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                border: none !important;
                background-color: rgb(251, 251, 251);
                box-shadow: 10px 10px 12px -12px rgba(0, 0, 0, 0.78);


                &:hover {
                    box-shadow: 12px 12px 12px 1px rgba(41, 42, 42, 0.99);
                    transition: 2s ease;
                    cursor: pointer;

                }


                img {
                    width: 400px;
                    height: 100%;
                    margin: auto;
                    display: flex;
                    justify-content: center;
                    object-fit: cover;
                    border-radius: 50%;
                    padding-top: 10px;
                }

                .card-title {
                    color: red;
                    font-weight: bold;
                }

                .product-description {
                    font-size: 15px;
                    font-weight: bold;
                    font-variant: initial;

                }
            }


        }

    }

    .full-screen-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: none;
        /* Hide the overlay by default */
    }

    .full-screen-overlay.active {
        display: block;
        /* Show the overlay when active */
    }

    .product-details {

        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 80%;
        height: 60%;
        overflow-y: scroll;





        #img {
            width: 500px;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }

        .card-title {
            font-size: 25px;
            color: rgb(255, 8, 8);
            padding-top: 20px;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 600;



        }

        .product-description {
            padding-top: 30px;
            padding: 20px 20px 20px 20px;
            line-height: 30px;
            font-size: 20px;
            font-weight: 700;
            max-width: 600px;
            margin: auto;

        }

        .targetplius {
            text-decoration: none;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            height: 100%;
            height: 50px;
            background: black;
            max-width: 100px;
            margin: auto;
            border-radius: 8px;

        }


    }

    .close-overlay {
        width: 100px;
        height: 40px;
        position: absolute;
        top: 20px;
        right: 10px;
        cursor: pointer;


        h3 {
            width: 100%;
            height: 100%;
            font-size: 19px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }


}




// სტილიზაცია როდესაც დაკლიკების დროს მთლიანად გამოდის პროდუცტები


footer {
    width: 100%;
    background-color: black;
    height: 500px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    .section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 80px;

        div {
            margin: auto;
            gap: 15px;

            .head {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
            }

            .sec_text {
                padding-top: 40px;
                font-size: 20px;
            }
        }

    }

    .line {
        width: 80%;
        height: 2px;
        display: block;
        background-color: white;
        margin: auto;
        position: relative;
        top: 20%;
    }

    .socilas {
        width: 100%;
        height: 110px;
        padding-top: 150px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        a {
            font-size: 40px;
            color: white;
            text-decoration: none;



        }
    }

}